@import 'theme';
@import 'typography';

.forfeit-app {
    width: 100vw;
    height: 100%;
    background-color: $background;
}

html,
body {
    margin: 0;
    height: 100%;
    overscroll-behavior: none;

    > div {
        height: 100%;
    }
}
