@import 'theme';

.link {
    text-decoration: none;
    color: inherit;
    &:active {
    }
    &-button {
        padding: 16px 24px;
        background-color: $primary;
        color: $surface;
        border-radius: 8px;
        min-width: 100px;
    }
}
