.game-container {
    .status-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
    }
}
