.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    > * {
        margin: 16px;
    }
}

.loading-container {
    flex: 1;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 4px;
    background-color: white;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
}

.feed {
    height: 400px;
    overflow: auto;
}
