.join-container {
    flex-direction: column;

    .status-container {
        margin: 10px 0px 0px 25px;
    }

    .form-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
